<template>
  <div>
  <b-navbar id="navbar" toggleable="lg" type="dark" variant="info">
    <b-navbar-brand href="#">Cards Wallet!</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
      <b-nav-item href="/login" v-if="!isLoggedIn()">Login</b-nav-item>
      <b-nav-item href="/register" v-if="!isLoggedIn()">Register</b-nav-item>
      <b-nav-item href="/my-cards" v-if="isLoggedIn()">My cards</b-nav-item>
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-item-dropdown right v-if="isLoggedIn()">
          <template #button-content>
            <em>User</em>
          </template>
          <b-dropdown-item href="#">Profile</b-dropdown-item>
          <b-dropdown-item href="#">Sign Out</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</div>
</template>

<script>

export default {
  methods: {
    isLoggedIn () {
      return this.$auth.loggedIn
    }
  }
}

</script>
