<template>
  <b-container>
    <b-row align-h="center"><h1>Login</h1></b-row>
    <b-row align-h="center">
      <b-form @submit.prevent="onSubmit">
        <b-form-group
          id="input-group-email"
          label="Your Email:"
          label-for="input-email"
        >
          <b-form-input
            id="input-email"
            v-model="email"
            type="email"
            placeholder="Enter email"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          id="input-group-passowrd"
          label="Your Password:"
          label-for="input-password"
        >
          <b-form-input
            id="input-password"
            v-model="password"
            type="password"
            placeholder="Enter password"
            required
          ></b-form-input>
        </b-form-group>
        <b-button id="submit" type="submit" variant="primary">Login</b-button>
      </b-form>
    </b-row>
  </b-container>
</template>

<script>
export default {
  auth: false,
  data() {
    return {
      email: "",
      password: "",
    };
  },
  mounted () {
    if (this.$auth.loggedIn) {
        this.redirectToUseHome()
    }
  },
  methods: {
    async onSubmit () {
      try {
        let response = await this.$auth.loginWith('local', { data: {
          identifier: this.email,
          password: this.password
        } })
        console.log(response);
        this.redirectToUseHome()
      } catch (err) {
        console.log(err)
      }
    },
    redirectToUseHome() {
      this.$router.push('/my-cards')
    }
  }
};
</script>
