<template>
  <b-container>
    <b-row id="cards">
      <b-col sm="6" v-for="card of cards" :key="card.name">
          {{card.name}} | {{ card.code}}
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  data () {
    return {
      cards: []
    }
  },
  async mounted() {
    await this.getCards();
  },
  methods: {
    async getCards() {
      try {
        const cards = await this.$axios.get(
          `${this.$config.api.baseUrl}/api/cards`
        )
        this.cards = cards;
      } catch (error) {
        console.error("Error when getting cards", error)
      }
    }
  }
}
</script>
