<template>
  <b-container>
    <b-row align-h="center"><h1>Register</h1></b-row>
    <b-row align-h="center">
      <b-form @submit.prevent="onSubmit">
        <b-form-group
          id="input-group-email"
          label="Your Email:"
          label-for="input-email"
        >
          <b-form-input
            id="input-email"
            v-model="email"
            type="email"
            placeholder="Enter email"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          id="input-group-passowrd"
          label="Your Password:"
          label-for="input-password"
        >
          <b-form-input
            id="input-password"
            v-model="password"
            type="password"
            placeholder="Enter password"
            required
          ></b-form-input>
        </b-form-group>
        <div v-if="error" id="error">
          There was an error.
        </div>
        <b-button id="submit" type="submit" variant="primary">Register</b-button>
      </b-form>
    </b-row>
    <b-row>
      Already got an account? <nuxt-link to="/login">Login</nuxt-link>
    </b-row>
  </b-container>
</template>

<script>
export default {
  auth: false,
  data() {
    return {
      email: "",
      password: "",
      error: false
    };
  },
  mounted () {
    if (this.$auth.loggedIn) {
        this.redirectToUserHome()
    }
  },
  methods: {
    async onSubmit (event) {
      console.log(event);
      try {
        this.$axios.setToken(false)
        await this.$axios.post(
          `${this.$config.api.baseUrl}/api/auth/local/register`,
          {
            username: this.email,
            email: this.email,
            password: this.password
          }
        )
        this.$axios.setToken(true)
        await this.$auth.loginWith('local', {
          data: {
            identifier: this.email,
            password: this.password
          }
        })
        this.redirectToUserHome()
      } catch (e) {
        this.error = true;
        console.error(e)
      }
    },
    redirectToUserHome() {
      this.$router.push('/my-cards')
    }
  },
};
</script>
